body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0; 
    background: url('../imagens/fundo_img_png.png') no-repeat center center/cover;
}

.container {
    max-width: 700px;
    margin: 240px auto;
    padding: 20px;
    background-color: #1f1f1f; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 15px rgb(206, 110, 1); 

}

h1 {
    text-align: center;
    color: #eb4e1a; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #bbb; 
}

input[type="text"],
textarea {
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #555; 
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    background-color: #333; 
    color: #e0e0e0; 
}

button {
    padding: 12px;
    background-color: #003a78; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
 