body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('../imagens/fundo_img_png.png') no-repeat center center/cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(252, 135, 0, 0.6);
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}

h1 {
    color: #f57a00;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #f3f2f1;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #666;
}

select {
    background: rgba(255, 255, 255, 0.9);
    color: #000;
}

button {
    background-color: #2393f5;
    border: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1b78d1;
}

a.btn {
    background-color: #2393f5;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

a.btn:hover {
    background-color: #0d6efd;
}

.alert {
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.alert-success {
    background-color: 0;
    color: #fff;
}

.alert-danger {
    background-color: 0;
    color: #fff;
}

.alert-info {
    background-color: #17a2b8;
    color: #fff;
}

aside .alert {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
